<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="hu.ottone.docfinit"
        version="1.0.0">

    <name>DocFinit</name>

    <feature name="http://api.phonegap.com/1.0/network"/>

    <!-- These rules lets app take over the web view created by cordova/phonegap -->
    <preference name="stay-in-webview" value="true"/>
</widget>